@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

table {
    border-collapse: collapse
    ;
}

thead {
    padding: 8px;
    font-weight: bolder;
    color: white;
    background-color: gray;
    border: 1px solid black;

}

th {
    background-color: gray;
    color: white;
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.exatas, .humanas {
    background-color: white;
    color: black;
}