@charset "UTF-8";   

body {
    font-family: Arial, Helvetica, sans-serif
}

table {
    border-collapse: collapse;
}

caption {
    font-size: 1.3em;
    font-weight: bolder;
    padding: 10px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

div#container {
    overflow-x: auto; /*overflow-x para a rolagem lateral(eixo-x) da tela e cria uma rolagem lateral apenas na tabela que está dentrio da "div id="container"*/
}